<div class="xelfinder">
<h1><{$smarty.const._MD_XELFINDER_LANG_LINK_DELETE}></h1>

<div class="confirm"><{$smarty.const._MD_XELFINDER_MESSAGE_CONFIRM_DELETE}></div>

<form action="<{xoops_cooluri dirname=$dirname dataname=link action=delete}>" method="post">
  <dl class="edit">
  <dt><{$smarty.const._MD_XELFINDER_LANG_LINK_ID}></dt>
  <dd><{$object->getShow('link_id')}></dd>
  <dt><{$smarty.const._MD_XELFINDER_LANG_TITLE}></dt>
  <dd><{$object->getShow('title')}></dd>
  <dt><{$smarty.const._MD_XELFINDER_LANG_PARAM}></dt>
  <dd><{$object->getShow('param')}></dd>
  <dt><{$smarty.const._MD_XELFINDER_LANG_VAL}></dt>
  <dd><{$object->getShow('val')}></dd>
  <dt><{$smarty.const._MD_XELFINDER_LANG_URI}></dt>
  <dd><{$object->getShow('uri')}></dd>
  <dt><{$smarty.const._MD_XELFINDER_LANG_POSTTIME}></dt>
  <dd><{$object->getShow('posttime')|xoops_formattimestamp:m}></dd>

    <dd>
      <{xoops_token form=$actionForm}>
      <{xoops_input type=hidden name=link_id value=$actionForm->get('link_id')}>
      <input type="submit" class="formButton" value="<{$smarty.const._DELETE}>"/>
      <input type="submit" class="formButton" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel"/>
    </dd>
  </dl>
</form>
</div>
