<div class="xelfinder">
<h1><{$smarty.const._MD_XELFINDER_LANG_FILE}><{$smarty.const._LIST}></h1>
<ul class="hmenu">
  <li><a href="<{xoops_cooluri dirname=$dirname dataname=$dataname action=edit}>"><{$smarty.const._MD_XELFINDER_LANG_ADD_A_NEW_FILE}></a></li>
</ul>

<{if count($objects) > 0}>
  <div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
  <table class="outer" summary="">
    <thead>
      <tr>
        <th>
          <{$smarty.const._MD_XELFINDER_LANG_FILE_ID}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XELFINDER_FILE_SORT_KEY_FILE_ID}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XELFINDER_FILE_SORT_KEY_FILE_ID}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_XELFINDER_LANG_NAME}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XELFINDER_FILE_SORT_KEY_NAME}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XELFINDER_FILE_SORT_KEY_NAME}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_XELFINDER_LANG_UID}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XELFINDER_FILE_SORT_KEY_UID}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XELFINDER_FILE_SORT_KEY_UID}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_XELFINDER_LANG_PARENT_ID}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XELFINDER_FILE_SORT_KEY_PARENT_ID}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XELFINDER_FILE_SORT_KEY_PARENT_ID}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_XELFINDER_LANG_SIZE}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XELFINDER_FILE_SORT_KEY_SIZE}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XELFINDER_FILE_SORT_KEY_SIZE}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_XELFINDER_LANG_MTIME}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XELFINDER_FILE_SORT_KEY_MTIME}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XELFINDER_FILE_SORT_KEY_MTIME}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_XELFINDER_LANG_PERM}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XELFINDER_FILE_SORT_KEY_PERM}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XELFINDER_FILE_SORT_KEY_PERM}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_XELFINDER_LANG_UMASK}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XELFINDER_FILE_SORT_KEY_UMASK}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XELFINDER_FILE_SORT_KEY_UMASK}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_XELFINDER_LANG_C_TYPE}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XELFINDER_FILE_SORT_KEY_C_TYPE}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XELFINDER_FILE_SORT_KEY_C_TYPE}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_XELFINDER_LANG_MIME}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XELFINDER_FILE_SORT_KEY_MIME}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XELFINDER_FILE_SORT_KEY_MIME}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_XELFINDER_LANG_WIDTH}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XELFINDER_FILE_SORT_KEY_WIDTH}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XELFINDER_FILE_SORT_KEY_WIDTH}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_XELFINDER_LANG_HEIGHT}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XELFINDER_FILE_SORT_KEY_HEIGHT}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XELFINDER_FILE_SORT_KEY_HEIGHT}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th>
          <{$smarty.const._MD_XELFINDER_LANG_CTIME}>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XELFINDER_FILE_SORT_KEY_CTIME}>"><img src="images/up.gif" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
          <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XELFINDER_FILE_SORT_KEY_CTIME}>"><img src="images/down.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
        </th>
        <th><{$smarty.const._MD_XELFINDER_LANG_CONTROL}></th>
      </tr>
    </thead>
    <tbody>
      <{foreach item=obj from=$objects}>
        <tr class="<{cycle values='odd,even'}>">
          <td><{$obj->getShow('file_id')}></td>
          <td><{$obj->getShow('name')}></td>
          <td><{$obj->getShow('uid')|xoops_user:user_name}></td>
          <td><{$obj->getShow('parent_id')}></td>
          <td><{$obj->getShow('size')}></td>
          <td><{$obj->getShow('mtime')|xoops_formattimestamp:m}></td>
          <td><{$obj->getShow('perm')}></td>
          <td><{$obj->getShow('umask')}></td>
          <td><{$obj->getShow('c_type')}></td>
          <td><{$obj->getShow('mime')}></td>
          <td><{$obj->getShow('width')}></td>
          <td><{$obj->getShow('height')}></td>
          <td><{$obj->getShow('ctime')|xoops_formattimestamp:m}></td>

          <td>
            <a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$obj->getShow('file_id') action=view}>"><{$smarty.const._VIEW}></a>
            <a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$obj->getShow('file_id') action=edit}>"><{$smarty.const._EDIT}></a>
            <a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$obj->getShow('file_id') action=delete}>"><{$smarty.const._DELETE}></a>
          </td>
        </tr>
      <{/foreach}>
    </tbody>
  </table>
  <div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
<{/if}>
</div>
